<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

# Some of the popular languages that Data Scientist use are:
- Python
- Julia
- SQL
- R

# Some of the commonly used libraries used by Data Scientist include:
- Pandas
- TensorFlow
- PySpark
- NumPy

| Data Science Tools | 
| -------------| 
| RStudio | 
| Apache Spark| 
| TensorFlow |

In [1]:
### Below are a few examples of evaluating arithmetic expressions in Python
1.	x = min(13, 29, 18, 2)
2.	y = max(1, 20, 9, 38)
3.	
4.	print(x+y)

SyntaxError: invalid syntax (2816780757.py, line 2)

### Below are a few examples of evaluating arithmetic expressions in Python
1.	x = min(10,23,45,30)
2.	y = max(1,20,34,9)
3.	
4.	print(x+y)

1.	x = min(10,23,45,30)
2.	y = max(1,20,34,9)
3.	
4.	print(x)

1.	x = min (10,23,45,30)
2.	y = max (1,20,34,9)
3.	
4.	Print (x)

In [3]:
1.	x = min (10,23,45,30)

SyntaxError: invalid syntax (1373771803.py, line 1)

In [4]:
1.	x = min(10,23,45,30)
2.	y = max(1,20,34,9)
3.	
4.	print(x)

SyntaxError: invalid syntax (4266657551.py, line 1)

### Below are a few examples of evaluating arithmetic expressions in Python
1.	x = min(10,23,45,30)
2.	y = max(1,20,34,9)
3.	
4.	print (x)

In [5]:
x = pow (4,3)
print(x)

64

In [6]:
### Below are a few examples of evaluating arithmetic expressions in Python

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
x = min (10,23,45,30)
y = max (1,20,34,9)

print (x+y)

44

## This a simple arithmetic expression to multiply then add integers

In [8]:
x = (3*4)+5

print (x)

17

In [9]:
200/60

3.3333333333333335

#### This will convert 200 minute to hours by diving by 60

In [10]:
minute = 200
hours = minute/60

print(hours)

3.3333333333333335

# In this notebook, Data Science Tools and Ecosystem are sumarized

**Objectives.**
* Learning about  popular languages for Data Science:
* Python
* R
* Java

* SQL

* C++